In [2]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier

In [3]:
data = pd.read_csv(r'C:\Users\Dell\Downloads\customer_churn (3).csv')

In [4]:
data.head(2)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
customerID          7043 non-null object
gender              7043 non-null object
SeniorCitizen       7043 non-null int64
Partner             7043 non-null object
Dependents          7043 non-null object
tenure              7043 non-null int64
PhoneService        7043 non-null object
MultipleLines       7043 non-null object
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null object
Churn               7043 non-null object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [32]:
x = pd.DataFrame(data[['tenure','MonthlyCharges']])

In [14]:
le = preprocessing.LabelEncoder()

In [15]:
y = le.fit_transform(y)

C:\Users\Dell\Anaconda2\lib\site-packages\sklearn\preprocessing\label.py:111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [33]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1)

In [34]:
x_train

      tenure  MonthlyCharges
5925      20           68.70
4395      69          103.95
1579      12           80.45
1040      14           90.45
1074       1           21.10
2479      56           75.85
6908       9           55.35
3888       1           80.15
3157       9           44.95
4691      56          100.65
5756      53           19.85
1456      16          100.00
5961       1           35.90
4579      31           81.15
6938      67           69.90
3646      39           81.90
4702      54           55.45
6468      14           44.60
244       13           54.80
959       32           86.10
2407       2           70.70
5828      72           24.45
434       41           19.75
5537      71          115.05
6073      64           24.90
4604      65           99.10
3973      43           60.40
2879      70          102.95
1751      14           89.95
4989       7           29.80
...      ...             ...
1888      23           55.80
3550      32           96.20
1527      72           21.00
753        0           20.25
3049       3           19.75
2628       1           83.40
562        7           69.70
6542      15           76.00
4764       2           45.15
3562       5           89.80
252        1           40.20
2516      16           96.40
2962       3           31.00
4453      10           98.50
5374      10           74.75
5396      35           20.10
1202      53           94.25
3462       7           85.20
6652      36           18.55
2797       3          100.95
4225       8           20.25
144       71           23.95
5056      72           84.70
2895      37           19.85
2763      64           81.05
905        9          100.50
5192      60           19.95
3980      28          105.70
235        2           54.40
5157      16           68.25

[4930 rows x 2 columns]

In [21]:
x_train.size
x_test.size
y_train.size
y_test.size

1409

In [35]:
classifier = RandomForestClassifier(n_estimators = 200, criterion = 'entropy', random_state = 0)

In [36]:
classifier.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [37]:
y_pred = classifier.predict(x_test)

In [38]:
accuracy = accuracy_score(y_test,y_pred)

In [39]:
accuracy

0.7595835305253195

In [40]:
print(str(accuracy*100)+'% accuracy')

75.95835305253195% accuracy

In [41]:
print(confusion_matrix(y_test,y_pred))

[[1353  232]
 [ 276  252]]